root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
ij_smart_tabs = false
ij_visual_guides = none
ij_wrap_on_typing = false
ij_formatter_tags_enabled = true
